:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  background-color: #E5E5E5;
}
/* ---Nav-Bar--- */

.navbar {
  width: 100px;
  height: 100vh;
  position: fixed;
  background-color: #F7F6FF;
  transition: width 100ms ease;
}

.navbar:hover {
  width: 200px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.logo {
  width: 60px;
  height: 34px;
  padding-bottom: 60px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  border-bottom:  2px solid #C4C4C4;
}

.navbar:hover .logo {
  width: 130px;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  width: 190px;
  height: 57px;
  margin-left: 10px;
  margin-bottom: 10px;
  align-items: center;
  
  
}

.navbar:hover .nav-link:hover {
  width: 190px;
  height: 57px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 25px 0px 0px 25px;
  align-items: center;
  
}

.link-txt {
  display: none;
  color: #02577A;
  font-weight: 500;
}

.navbar:hover .link-txt {
  display: block;
}

.nav-link img {
  width: 25px;
  height: 25px;
  margin: 0 1.5rem;
}
.nav-link .game-img {
  width: 40px;
  height: 25px;
}

.img-blue {
  display: none;
}
.nav-link:hover .img-blue {
  display: block;
}
.nav-link:hover .img-grey {
  display: none;
}



/* ---FOOTER--- */

.footer {
  position: fixed;
  display: flex;
  justify-items: center;
  justify-content: center;
  left: 100px;
  bottom: 0;
  height: 35px;
  width: 100%;
  text-align: center;
}

.copy-rigth {
  width: 360px;
  height: 35px;
  font-size: 11px;
  line-height: 35px;
  color: #02577A;
  border-top: 1px solid #02577A;
}